{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'goals/styles.css' %}">
    <title>Survey Completed!</title>
</head>
<body>
    <div id="results">
        <h1>Thank you for completing the survey!</h1>
        <p>Here's how your goals ranked:</p>
        <ul>
            {% for goal in goals %}
                <li>{{ goal.title }} - {{ goal.percent_chosen }}% </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>